<div class="container">
  <div class="well">
  ああああああああああああああああああああああああああああああ
  </div>
  <div class="text">
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  </div>
  <div class="well">
  ああああああああああああああああああああああああああああああ
  </div>
  <div class="text">
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  </div>
  <div class="well">
  ああああああああああああああああああああああああああああああ
  </div>
  <div class="text">
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  </div>

</div>
