<div class="container">
  <div class="text">
  <p>
    <img src="/kouchou_sensei_speech.png" class="about_image">
  <br>
  校長<br>早乙女 好男</p>
</div>
  <div class="well">
  学校創設の経緯について
  </div>
  <div class="text">
    我が私立妄想高校は誰もが一度は抱くであろう妄想<br>
    「めちゃくちゃ可愛い（かっこいい）人たちに囲まれて学園生活を送りたい」<br>
    そんな儚くも夢のある妄想を実現したい。その一心で当学校の創設に至りました。<br>
    あの甘酸っぱかった青春時代に憧れのあの人とともに戻ってみませんか？<br>
  </div>
  <div class="well">
  ゲームの遊び方
  </div>
  <div class="text">
    それでは、まずゲームの遊び方について学んでいきましょう。<br>

  </div>
  <div class="well">
  FAQ
  </div>
  <div class="text">
    
  </div>

</div>
