
<div class="container">
  <a href="/rooms/new"><button type="button" class="btn btn-primary btn-lg btn-block">新たに開校する</button></a>
  <a href="/rooms/join/search"><button type="button" class="btn btn-primary btn-lg btn-block">既にある学校に入学する</button></a>
  <a href="/registration"><button type="button" class="btn btn-primary btn-sm btn-block">新たに生徒・先生を追加する</button></a>
</div>
