

<div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-block">新たに開校する</button>
  <button type="button" class="btn btn-primary btn-lg btn-block">既にある学校に入学する</button>
  <button type="button" class="btn btn-primary btn-sm btn-block">新たに生徒・先生を追加する</button>
</div>
