<div class="container">
<%= form_tag("/rooms/create") do %>
  <p>高校名を入力<br>
  <input class="form input" name="name">
  <%= "高校"%></p>
  <input class="btn-default" type="submit" value="開校">
<% end %>
</div>
