<!DOCTYPE html>
<html>
<head>
  <title>MosoHighSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header>
　<div class="header-logo">
        <a href="/top">私立妄想高校</a>
  　<ul class="header-menus">
        <a href="/about">私立妄想高校とは</a>
  　</ul>
　</div>
 </header>
 <div class="jumbotron text-center">
   <h2>私立妄想高校</h2>
 </div>
<%= yield %>

</body>
</html>
